<div class="container">
  <div class="row">
    <div class="col-xs-12 text-left">
      <h1><span class="title-section">{{section.name}}</span></h1>
      <p>Shirre Lab Corp. is a privately-held materials technology company specializing in fluoro-based dielectric materials such as Flexible Copper Clad Laminates.</p>
      <p>We are one of only a handful of teams worldwide to possess the combination of skills required to succeed in bringing these products to market.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <img src="{{ "/static/assets/img/people5.jpg" | prepend: site.baseurl }}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-left">
      <h3><span>OUR PEOPLE</span></h3>
      <p>Shirre has assembled a remarkable mix of skills from both a commercial and a technical perspective. On the technical front, Shirre has a deep array of technical specialities. On the commercial front, members of Shirre have proven success in such diverse technical markets as digital video, low-power wireless gigabit Ethernet and powerline communications.</p>
    </div>
  </div>
  <div class="row" style="margin-top: 3em">
    <div class="col-xs-4">
      <img src="{{ "/static/assets/img/20190419.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
    </div>
    <div class="col-xs-8 text-left">
      <h3><span>THE FELLOWSHIP</span></h3>
      <p>Centuries after taking down the Dark Lord’s empire and destroying the Ring, the Dark Lord rises once again and Shirre needs her protectors back!</p>
      <p>Together, the fellowship of the Ring rally the troops and prepare for the battle.</p>
      <p>Where does Aragorn, Gandalf and the Elf lead the hobbits to this time? We don’t know yet. What we do know is that with their courage, wisdom and friendships, they will defeat all the evildoers and bring peace to the middle earth.</p>
    </div>
  </div>
</div>
