<div class="container">
  <div class="row">
    <div class="col-xs-12 text-left">
      <h1><span class="title-section">{{section.name}}</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <img src="{{ "/static/assets/img/careers.png" | prepend: site.baseurl }}" class="pull-left img-responsive">
    </div>
    <div class="col-lg-6 col-xs-12">
      <h3><p>WE ARE GROWING FAST,</p>
      <p>AND SO CAN YOU!</p></h3>
      <p>Contact us today and find out more about our available positions.</p>
      <p><span>e: </span><A Href="mailto:peiti.chia@shirre.com"><span>peiti.chia@shirre.com</span></A></p>
    </div>
  </div>
</div>
