<div class="container">
  <div class="row">
    <div class="col-xs-12 text-left">
      <h1><span class="title-section">{{section.name}}</span></h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-6 col-xs-12">
        <img src="{{ "/static/assets/img/contact.jpg" | prepend: site.baseurl }}" class="pull-left img-responsive">
      </div>
    <div class="col-lg-6 col-xs-12">
      <div class="contact">
        <p><h3>Head office</h3>
        6F, No 63, Zhouzi St, Neihu Dist,<br/>
        Taipei City 114,<br/>
        Taiwan</p>
        <p>Sales Inquiries: <A Href="mailto:peiti.chia@shirre.com?Subject=[Sales Inquiries]">peiti.chia@shirre.com</A></p>
        <p>General Inquiries: <A Href="mailto:peiti.chia@shirre.com?Subject=[General Inquiries]">peiti.chia@shirre.com</A></p>
        <p><h3>Production Facility</h3>
        No 13-1, Hezun N Rd,<br/>
        Zhongli Dist, Taoyuan 320,<br/>
        Taiwan<br/>
        Phone: +886 3.463.8980</p>
      </div>
    </div>
  </div>
</div>
