@font-face {
font-family: 'ITC Lubalin Graph Demi';
font-style: normal;
font-weight: normal;
src: local('ITC Lubalin Graph Demi'), url('../assets/fonts/itc-lubalin-graph-demi-5876cf08a22c5.woff') format('woff');
}


@font-face {
font-family: 'ITC Lubalin Graph Extra Light';
font-style: normal;
font-weight: normal;
src: local('ITC Lubalin Graph Extra Light'), url('../assets/fonts/itc-lubalin-graph-extra-light-5876ce99b2316.woff') format('woff');
}


@font-face {
font-family: 'ITC Lubalin Graph Bold';
font-style: normal;
font-weight: normal;
src: local('ITC Lubalin Graph Bold'), url('../assets/fonts/itc-lubalin-graph-bold-5876cf4ac3059.woff') format('woff');
}
